
.speakerImageContainer{
    text-align: center;
    padding: 20px 0px;
}
.speakerImgageCss{
    width: 150px;
    height: 150px;
}



.speakerImageRow2Col1 h4{
    color: #FFFFFF;
}
.speakerImageRow2Col1 h6{
    color: #A9A9A9;
}